# Step 1 - Data Engineering

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

Create a Jupyter Notebook file called data_engineering.ipynb and use this to complete all of your Data Engineering tasks.

Use Pandas to read in the measurement and station CSV files as DataFrames.

Inspect the data for NaNs and missing values. You must decide what to do with this data.

Save your cleaned CSV files with the prefix clean_.

In [88]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
raw_hawaii_stations = "hawaii_stations.csv"
raw_hawaii_measurements = "hawaii_measurements.csv"

# Read into DFs
pd_hawaii_stations = pd.read_csv(raw_hawaii_stations)
pd_hawaii_measurements = pd.read_csv(raw_hawaii_measurements)

In [89]:
print ("Rows in hawaii_stations: " +str(len(pd_hawaii_stations)))
print ("Rows in hawaii_measurements: " +str(len(pd_hawaii_measurements)))
pd_hawaii_stations

Rows in hawaii_stations: 9
Rows in hawaii_measurements: 19550

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [90]:
df_nulls = pd_hawaii_measurements.loc[(pd_hawaii_measurements['prcp'].isnull())]
print ("Amount of null rows: " +str(len(df_nulls)))

df_clean_hawaii_measurements = pd_hawaii_measurements.dropna(thresh=4)
print ("Final row count after dropping null: " +str(len(df_clean_hawaii_measurements)))

Amount of null rows: 1447
Final row count after dropping null: 18103

In [91]:
df_clean_hawaii_measurements = df_clean_hawaii_measurements.reset_index(drop=True)
# df_clean_hawaii_measurements.insert(0, 'rowID', range(0, len(df_clean_hawaii_measurements)))
df_clean_hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [94]:
df_clean_hawaii_measurements = df_clean_hawaii_measurements.rename(columns={'date': 'hw_date'})
df_clean_hawaii_measurements.head()

       station     hw_date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [93]:
df_clean_hawaii_measurements.to_csv("clean_hawaii_measurements.csv")

In [98]:
df_clean_hawaii_measurements.dtypes

station     object
hw_date     object
prcp       float64
tobs         int64
dtype: object